{% extends 'base.html.twig' %}

{% block title %}Blog List{% endblock %}

{% block content %}
    <main class="site-main">

        <!-- Slider Section -->
        <div class="container-fluid no-left-padding no-right-padding slider-section slider-section2">
            <!-- Container -->
            <div class="container">
                <div id="slider-carousel-2" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner" role="listbox">
                        <!--The for loop will be used-->
                        <div class="carousel-item active">
                            <div class="row">
                                <div class="col-lg-8 col-sm-12 post-block post-big">
                                    <div class="post-box">
                                        <img src="http://placehold.it/770x500" alt="Slide" />
                                        <div class="entry-content">
                                            <span class="post-category"><a href="#" title="Travel">Travel</a></span>
                                            <h3><a href="#" title="Best Surfing Spots for Beginners and Advanced">Best Surfing Spots for Beginners and Advanced</a></h3>
                                            <a href="#" title="Read More">Read More</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-sm-12 post-block post-thumb">
                                    <div class="post-box">
                                        <img src="http://placehold.it/396x248" alt="Slide" />
                                        <div class="entry-content">
                                            <span class="post-category"><a href="#" title="Sport">Sport</a></span>
                                            <h3><a href="#" title="High-Tech Prototype Bike Announced">High-Tech Prototype Bike Announced</a></h3>
                                            <a href="#" title="Read More">Read More</a>
                                        </div>
                                    </div>
                                    <div class="post-box">
                                        <img src="http://placehold.it/396x248" alt="Slide" />
                                        <div class="entry-content">
                                            <span class="post-category"><a href="#" title="Nature">Nature</a></span>
                                            <h3><a href="#" title="White Sand of The Desert Discovery">White Sand of The Desert Discovery</a></h3>
                                            <a href="#" title="Read More">Read More</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- Container /- -->
        </div><!-- Slider Section /- -->

        <!-- Page Content -->
        <div class="container-fluid no-left-padding no-right-padding page-content blog-paralle-post">
            <!-- Container -->
            <div class="container">
                <!-- Row -->
                <div class="row">
                    <!-- Content Area -->
                    <div class="col-lg-8 col-md-6 content-area">
                        <!-- Row -->
                        <div class="row">
                            <!--The for loop will be used-->
                            <div class="col-12 col-md-12 col-sm-6 blog-paralle">
                                <div class="type-post">
                                    <div class="entry-cover">
                                        <div class="post-meta">
                                            <span class="byline">by <a href="#" title="Indesign">inDesign</a></span>
                                            <span class="post-date"><a href="#">MARCH 17, 2017</a></span>
                                        </div>
                                        <a href="#"><img src="http://placehold.it/330x247" alt="Post" /></a>
                                    </div>
                                    <div class="entry-content">
                                        <div class="entry-header">
                                            <span class="post-category"><a href="#" title="Technology">Technology</a></span>
                                            <h3 class="entry-title"><a href="#" title="Traffic Jams Solved">Traffic Jams Solved </a></h3>
                                        </div>
                                        <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings his mistaken...</p>
                                        <a href="#" title="Read More">Read More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Row /- -->
                        <!-- Pagination -->
                        <nav class="navigation pagination">
                            <h2 class="screen-reader-text">Posts navigation</h2>
                            <div class="nav-links">
                                <a class="prev page-numbers" href="#">Previous</a>
                                <span class="page-numbers current">
										<span class="meta-nav screen-reader-text">Page </span>1
									</span>
                                <a class="page-numbers" href="#"><span class="meta-nav screen-reader-text">Page </span>2</a>
                                <a class="page-numbers" href="#"><span class="meta-nav screen-reader-text">Page </span>3</a>
                                <a class="page-numbers" href="#"><span class="meta-nav screen-reader-text">Page </span>...</a>
                                <a class="page-numbers" href="#"><span class="meta-nav screen-reader-text">Page </span>6</a>
                                <a class="next page-numbers" href="#">Next</a>
                            </div>
                        </nav>
                        <!-- Pagination /- -->
                    </div><!-- Content Area -->
                    <!-- Widget Area -->
                    <div class="col-lg-4 col-md-6 widget-area">
                        <!-- Widget : Latest Post -->
                        <aside class="widget widget_latestposts">
                            <h3 class="widget-title">Populer Gönderiler</h3>
                            <!--The for loop will be used, limit 5-->
                            <div class="latest-content">
                                <a href="#" title="Recent Posts"><i><img src="http://placehold.it/100x80" class="wp-post-image" alt="blog-1" /></i></a>
                                <h5><a title="Beautiful Landscape View of Rio de Janeiro" href="#">Beautiful Landscape View of Rio de Janeiro</a></h5>
                                <span><a href="#">march 14, 2017</a></span>
                            </div>
                        </aside><!-- Widget : Latest Post /- -->
                        <!-- Widget : Categories -->
                        <aside class="widget widget_categories text-center">
                            <h3 class="widget-title">Kategoriler</h3>
                            <ul>
                                <!--The for loop will be used, limit 5-->
                                <li><a href="#" title="Nature">Nature</a></li>
                            </ul>
                        </aside><!-- Widget : Categories /- -->
                        <!-- Widget : Instagram -->
                        <aside class="widget widget_instagram">
                            <h3 class="widget-title">Instagram</h3>
                            <ul>
                                <!--The for loop will be used, limit 6-->
                                <li><a href="#"><img src="http://placehold.it/111x111" alt="Instagram" /></a></li>
                            </ul>
                        </aside><!-- Widget : Instagram /- -->
                        <!-- Widget : Follow Us -->
                        <aside class="widget widget_social">
                            <h3 class="widget-title">Takip Et</h3>
                            <ul>
                                <li><a href="#" title=""><i class="ion-social-facebook-outline"></i></a></li>
                                <li><a href="#" title=""><i class="ion-social-twitter-outline"></i></a></li>
                                <li><a href="#" title=""><i class="ion-social-instagram-outline"></i></a></li>
                                <li><a href="#" title=""><i class="ion-social-linkedin-outline"></i></a></li>
                                <li><a href="#" title=""><i class="ion-social-youtube-outline"></i></a></li>
                            </ul>
                        </aside><!-- Widget : Follow Us /- -->
                        <!-- Widget : Newsletter -->
                        <aside class="widget widget_newsletter">
                            <h3 class="widget-title">Haber Bülteni</h3>
                            <div class="newsletter-box">
                                <i class="ion-ios-email-outline"></i>
                                <h4>Haber Bülteni İçin Kaydolun</h4>
                                <p>En son gönderileri ve haberleri almak için kaydolun </p>
                                <form>
                                    <input type="text" class="form-control" placeholder="E-posta adresiniz" />
                                    <input type="submit" value="Abone Ol" />
                                </form>
                            </div>
                        </aside><!-- Widget : Newsletter /- -->
                    </div><!-- Widget Area /- -->
                </div><!-- Row /- -->
            </div><!-- Container /- -->
        </div><!-- Page Content /- -->

    </main>
{% endblock %}
