{% extends '/admin/base/base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <section id="main-content" class=" ">
        <section class="wrapper main-wrapper" style=''>

            <div class='col-xl-12 col-lg-12 col-md-12 col-12'>
                <div class="page-title">

                    <div class="float-left">
                        <h1 class="title">Blog</h1>
                    </div>


                </div>
            </div>
            <div class="clearfix"></div>


            <div class="col-xl-12">
                <section class="box nobox">
                    <div class="content-body">

                        <div class="row">
                            <div class="col-lg-3 col-md-6 col-12">
                                <div class="r4_counter db_box">
                                    <i class='float-left fa fa-thumbs-up icon-md icon-rounded icon-primary'></i>
                                    <div class="stats">
                                        <h4><strong>450K</strong></h4>
                                        <span>Blog Page Views</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-12">
                                <div class="r4_counter db_box">
                                    <i class='float-left fa fa-user icon-md icon-rounded icon-orange'></i>
                                    <div class="stats">
                                        <h4><strong>6243</strong></h4>
                                        <span>New Visitors</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-12">
                                <div class="r4_counter db_box">
                                    <i class='float-left fa fa-database icon-md icon-rounded icon-purple'></i>
                                    <div class="stats">
                                        <h4><strong>99.9%</strong></h4>
                                        <span>Server Up</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-12">
                                <div class="r4_counter db_box">
                                    <i class='float-left fa fa-users icon-md icon-rounded icon-warning'></i>
                                    <div class="stats">
                                        <h4><strong>1433</strong></h4>
                                        <span>New Users</span>
                                    </div>
                                </div>
                            </div>
                        </div> <!-- End .row -->

                    </div>
                </section></div>



        </section>
    </section>
{% endblock %}
