{% extends '/admin/base/base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <section id="main-content" class=" ">
        <section class="wrapper main-wrapper" style=''>

            <div class='col-xl-12 col-lg-12 col-md-12 col-12'>
                <div class="page-title">

                    <div class="float-left">
                        <h1 class="title">Tags</h1>                            </div>

                    <div class="float-right d-none">
                        <ol class="breadcrumb">
                            <li>
                                <a href="index.html"><i class="fa fa-home"></i>Home</a>
                            </li>
                            <li>
                                <a href="blo-tags.html">Tags</a>
                            </li>
                            <li class="active">
                                <strong>All Tags</strong>
                            </li>
                        </ol>
                    </div>

                </div>
            </div>
            <div class="clearfix"></div>

            <div class="col-lg-12">
                <section class="box ">
                    <header class="panel_header">
                        <h2 class="title float-left">All Tags</h2>
                        <div class="actions panel_actions float-right">
                            <i class="box_toggle fa fa-chevron-down"></i>
                            <i class="box_setting fa fa-cog" data-toggle="modal" href="#section-settings"></i>
                            <i class="box_close fa fa-times"></i>
                        </div>
                    </header>
                    <div class="content-body">    <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">



                                <!-- ********************************************** -->


                                <table id="example-11" class="display table table-hover table-condensed" cellspacing="0" width="100%">
                                    <thead>
                                    <tr>
                                        <th>ID</th><th>Tag Name</th><th>Description</th><th>No. of Blogs</th>                    </tr>
                                    </thead>

                                    <tbody>
                                    <tr><td>1</td><td>photoshop</td><td>In eleifend quam a odio.</td><td>85</td></tr><tr><td>2</td><td>logo design</td><td>Vivamus metus arcu, adipiscing molestie, hendrerit at, vulputate vitae, nisl.</td><td>57</td></tr><tr><td>3</td><td>photoshop</td><td>Proin eu mi.</td><td>51</td></tr><tr><td>4</td><td>php website</td><td>Morbi vestibulum, velit id pretium iaculis, diam erat fermentum justo, nec condimentum neque sapien placerat ante.</td><td>77</td></tr><tr><td>5</td><td>wordpress website</td><td>Morbi quis tortor id nulla ultrices aliquet.</td><td>62</td></tr><tr><td>6</td><td>SEO and SEM</td><td>Fusce consequat.</td><td>38</td></tr><tr><td>7</td><td>logo design</td><td>Donec dapibus.</td><td>48</td></tr><tr><td>8</td><td>photoshop</td><td>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nulla dapibus dolor vel est.</td><td>65</td></tr><tr><td>9</td><td>graphic design</td><td>Phasellus sit amet erat.</td><td>77</td></tr><tr><td>10</td><td>photoshop</td><td>In hac habitasse platea dictumst.</td><td>73</td></tr><tr><td>11</td><td>graphic design</td><td>Curabitur gravida nisi at nibh.</td><td>55</td></tr><tr><td>12</td><td>web design</td><td>Nam tristique tortor eu pede.</td><td>69</td></tr><tr><td>13</td><td>web design</td><td>In hac habitasse platea dictumst.</td><td>60</td></tr><tr><td>14</td><td>branding</td><td>Maecenas ut massa quis augue luctus tincidunt.</td><td>48</td></tr><tr><td>15</td><td>branding</td><td>Morbi odio odio, elementum eu, interdum eu, tincidunt in, leo.</td><td>72</td></tr><tr><td>16</td><td>php website</td><td>Vivamus in felis eu sapien cursus vestibulum.</td><td>59</td></tr><tr><td>17</td><td>web design</td><td>Pellentesque eget nunc.</td><td>85</td></tr><tr><td>18</td><td>programming</td><td>Quisque porta volutpat erat.</td><td>47</td></tr><tr><td>19</td><td>photoshop</td><td>Duis bibendum.</td><td>69</td></tr><tr><td>20</td><td>logo design</td><td>Nunc purus.</td><td>51</td></tr><tr><td>21</td><td>wordpress website</td><td>Duis ac nibh.</td><td>75</td></tr><tr><td>22</td><td>wordpress website</td><td>Praesent blandit.</td><td>68</td></tr><tr><td>23</td><td>graphic design</td><td>Morbi vel lectus in quam fringilla rhoncus.</td><td>79</td></tr><tr><td>24</td><td>branding</td><td>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</td><td>58</td></tr><tr><td>25</td><td>programming</td><td>Quisque arcu libero, rutrum ac, lobortis vel, dapibus at, diam.</td><td>72</td></tr><tr><td>26</td><td>web design</td><td>Suspendisse potenti.</td><td>69</td></tr><tr><td>27</td><td>crm service</td><td>Proin eu mi.</td><td>85</td></tr><tr><td>28</td><td>crm service</td><td>Nullam orci pede, venenatis non, sodales sed, tincidunt eu, felis.</td><td>79</td></tr><tr><td>29</td><td>crm service</td><td>Duis bibendum.</td><td>34</td></tr><tr><td>30</td><td>web design</td><td>Donec ut dolor.</td><td>33</td></tr><tr><td>31</td><td>logo design</td><td>Nam ultrices, libero non mattis pulvinar, nulla pede ullamcorper augue, a suscipit nulla elit ac nulla.</td><td>72</td></tr><tr><td>32</td><td>wordpress website</td><td>In quis justo.</td><td>83</td></tr><tr><td>33</td><td>php website</td><td>Donec posuere metus vitae ipsum.</td><td>51</td></tr><tr><td>34</td><td>photoshop</td><td>Praesent blandit lacinia erat.</td><td>35</td></tr><tr><td>35</td><td>logo design</td><td>Praesent id massa id nisl venenatis lacinia.</td><td>89</td></tr><tr><td>36</td><td>logo design</td><td>Quisque ut erat.</td><td>71</td></tr><tr><td>37</td><td>programming</td><td>Quisque porta volutpat erat.</td><td>48</td></tr><tr><td>38</td><td>crm service</td><td>Praesent lectus.</td><td>46</td></tr><tr><td>39</td><td>logo design</td><td>Nulla ut erat id mauris vulputate elementum.</td><td>84</td></tr><tr><td>40</td><td>programming</td><td>Sed ante.</td><td>69</td></tr><tr><td>41</td><td>graphic design</td><td>Morbi sem mauris, laoreet ut, rhoncus aliquet, pulvinar sed, nisl.</td><td>53</td></tr><tr><td>42</td><td>web design</td><td>Morbi sem mauris, laoreet ut, rhoncus aliquet, pulvinar sed, nisl.</td><td>53</td></tr><tr><td>43</td><td>SEO and SEM</td><td>In blandit ultrices enim.</td><td>87</td></tr><tr><td>44</td><td>SEO and SEM</td><td>Fusce posuere felis sed lacus.</td><td>33</td></tr><tr><td>45</td><td>php website</td><td>Phasellus sit amet erat.</td><td>76</td></tr><tr><td>46</td><td>web design</td><td>Etiam faucibus cursus urna.</td><td>37</td></tr><tr><td>47</td><td>social media marketing</td><td>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Duis faucibus accumsan odio.</td><td>73</td></tr><tr><td>48</td><td>SEO and SEM</td><td>Suspendisse ornare consequat lectus.</td><td>35</td></tr><tr><td>49</td><td>wordpress website</td><td>Nulla nisl.</td><td>31</td></tr><tr><td>50</td><td>wordpress website</td><td>Donec odio justo, sollicitudin ut, suscipit a, feugiat et, eros.</td><td>62</td></tr>
                                    </tbody>
                                </table>
                                <!-- ********************************************** -->




                            </div>
                        </div>
                    </div>
                </section></div>






        </section>
    </section>
{% endblock %}
