{% extends '/admin/base/base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <section id="main-content" class=" ">
        <section class="wrapper main-wrapper" style=''>

            <div class='col-xl-12 col-lg-12 col-md-12 col-12'>
                <div class="page-title">

                    <div class="float-left">
                        <h1 class="title">Sayfa Ekle</h1>
                    </div>

                    <div class="float-right d-none">
                        <ol class="breadcrumb">
                            <li>
                                <a href="index.html"><i class="fa fa-home"></i>Home</a>
                            </li>
                            <li>
                                <a href="blo-pages.html">Pages</a>
                            </li>
                            <li class="active">
                                <strong>Add Page</strong>
                            </li>
                        </ol>
                    </div>

                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-xl-12 col-lg-12 col-12 col-md-12">
                <section class="box ">
                    <header class="panel_header">
                        <h2 class="title float-left">Basic Info</h2>
                        <div class="actions panel_actions float-right">
                            <i class="box_toggle fa fa-chevron-down"></i>
                            <i class="box_setting fa fa-cog" data-toggle="modal" href="#section-settings"></i>
                            <i class="box_close fa fa-times"></i>
                        </div>
                    </header>
                    <div class="content-body">
                        <div class="row">
                            <form action ="#" method="post">

                                <div class="col-xl-8 col-lg-8 col-md-9 col-12 padding-bottom-30">

                                    <div class="form-group">
                                        <label class="form-label" for="field-1">Başlık</label>
                                        <span class="desc"></span>
                                        <div class="controls">
                                            <input type="text" value="" class="form-control" id="field-1">
                                        </div>
                                    </div>

                                </div>

                                <div class="col-xl-12 col-lg-12 col-md-12 col-12">

                                    <div class="form-group">
                                        <label class="form-label" for="field-5">İçerik</label>
                                        <span class="desc"></span>

                                        <textarea class="ckeditor" cols="80" id="editor1" name="editor1" rows="10">
                                                </textarea><br>
                                    </div>

                                    <div class="col-xl-8 col-lg-8 col-md-9 col-12 padding-bottom-30">

                                        <div class="form-group">
                                            <label class="form-label" for="field-5">Oluşturma Tarihi</label>
                                            <span class="desc">e.g. "04/03/2015"</span>
                                            <div class="controls">
                                                <input type="text" value="" class="form-control datepicker" data-format="mm/dd/yyyy" value="">
                                            </div>
                                        </div>


                                        <div class="form-group">
                                            <label class="form-label" for="field-5">Güncelleme Tarihi</label>
                                            <span class="desc">e.g. "04/03/2015"</span>
                                            <div class="controls">
                                                <input type="text" value="" class="form-control datepicker" data-format="mm/dd/yyyy" value="">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="form-label" for="field-1">Resim</label>
                                            <span class="desc"></span>
                                            <div class="controls">
                                                <input type="file" class="form-control" id="field-5">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="form-label" for="field-5">Sayfa Etiketleri</label>
                                            <span class="desc"></span>
                                            <select multiple class="form-control">
                                                <option >Graphic</option>
                                                <option >Web Design</option>
                                                <option >Branding</option>
                                                <option>Web</option>
                                                <option>SEO</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label class="form-label" for="field-5">Sayfa Kategorileri</label>
                                            <span class="desc"></span>
                                            <select multiple class="form-control">
                                                <option >Photoshop</option>
                                                <option >Logo Design</option>
                                                <option >Branding</option>
                                                <option>Web design</option>
                                                <option>SEO</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label class="form-label" for="field-5">Sayfa Durumu</label>
                                            <span class="desc"></span>
                                            <select class="form-control">
                                                <option></option>
                                                <option >New</option>
                                                <option>Draft</option>
                                                <option>Published</option>
                                            </select>
                                        </div>

                                        <div class="form-group">
                                            <label class="form-label" for="field-1">Page Yazarı</label>
                                            <span class="desc"></span>
                                            <div class="controls">
                                                <input type="text" value="" class="form-control" id="field-1">
                                            </div>
                                        </div>

                                    </div>


                                    <div class="col-xl-8 col-lg-8 col-md-9 col-12 padding-bottom-30">
                                        <div class="text-left">
                                            <button type="button" class="btn btn-primary">Kaydet</button>
                                            <button type="button" class="btn">İptal</button>
                                        </div>
                                    </div>
                            </form>
                        </div>


                    </div>
                </section></div>



        </section>
    </section>
{% endblock %}
